@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$primary-color: rgba(68, 34, 18);

.navbar {
    background-color: $primary-color;
    padding-bottom: 10px;

    .navbar-brand {
        color: wheat;
        font-size: 30px;
        margin-left: 100px;
    }

    .navbar-nav {
        margin-right: 80px;
    }

    .nav-link {
        gap: 20px;
        color: wheat;
    }
}

.hero {
    background-image: url(tr_img_2_5.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 80px;
    margin-top: 30px;
    border-radius: 10px;

    .welcome {
        color: $primary-color;
        font-size: 60px;
        font-weight: 900;
        display: flex;
        margin-top: 50px;
        margin-right: 80px;

    }

    .quality {
        color: black;
        font-size: 19px;
        font-weight: 900;
        position: relative;
        left: 730px;

    }

    .firstButton {
        padding: 10px 40px;
        background-color: rgb(109, 49, 21);
        font-weight: 500;
        font-size: 20px;
        color: wheat;
        margin-top: 10px;
        position: relative;
        left: 850px;

    }
}

.card {

    background-color: rgb(248, 244, 244);

    .titlee {
        color: $primary-color;
        font-size: 30px;
        font-weight: 800;

    }

    .descrip {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 500;
        color: rgb(66, 63, 63);
    }

    .pic-1 {
        border-radius: 10px;
        width: 100px;
        height: 100px;
        background-color: rgb(14, 14, 14);
    }
}

.foot {
    margin-top: 40px;
}